<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Custome Theme</title>
</head>
<body>
  <%- partial('partial/header', {title: 'navy'}) %>
  <br>
  <%- body %>
  <br>
  This is the layout.ejs file
</body>
</html>